<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ post?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!post?.ID">
    <app-wp-head [title]="post?.title" [date]="post?.date"></app-wp-head>
  </ion-card>
  <ion-card *ngIf="post?.ID">
    <ion-card-header>
      <ion-card-subtitle
        >{{ post?.date | date:"yyyy年MM月dd日" }}</ion-card-subtitle
      >
      <ion-card-title>{{ post?.title }}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <div class="ion-padding" [innerHTML]="post?.content"></div>
</ion-content>
